
@{
    ViewBag.Title = "DanhSachSanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DanhSachSanPham</h2>
<h2>thêm sản phẩm và thanh toán</h2>
<h2>thêm dang nhap</h2>

<h2>thêm tao phieu giam gia</h2>

